syntax:glob

.vagrant
*.aux
*.egg-info
*.log
*.out
*.py[co]
*.sw[op]
*.toc
*~
.batou-lock
.batou-passphrase*
.batou/
.DS_Store
.git/**
.installed.cfg
.mr.developer.cfg
.pre-commit-config.yaml
.Python
.todo
bin
build
components/secrets/mine.cfg.aes
dev/ldap/data
dev/ldap/ldapi
dev/ldap/schema
dev/ldap/slapd.args
dev/ldap/slapd.pid
dev/nginx/*temp
dev/nginx/logs
dev/var
develop-eggs
eggs
environments/mine.cfg
htmlcov
include
keys
lib
lib64
local
nixenv
nixprofile*
parts
report.pdf
share
tags
tickets.tex.in
tmp
webworklib
wip
work
*.sublime-*

