[environment]
host_domain = syslab.com
service_user = recensio
update_method = git-bundle

[hosts]
# ext8 = nginx,haproxy (manually configured)
# After migrating to solr 5, use this instead:
#ext0 =
#    zope
#    solr5
#    zeo
#    supervisor
ext0 =
    zope:instance
    zope:instancebots
    zope:worker
    solr5
    zeo
    supervisor
    crontab
    logrotate

[component:zope]
profile = testserver
branch = testing
numbered_instances = 2
instance1_address = {{host.fqdn}}:4001
instance2_address = {{host.fqdn}}:4002
portals = [{'id': 'recensio', 'url': 'https://recensio.syslab.com'},
           {'id': 'altertum', 'url': 'https://altertum.syslab.com'},
           {'id': 'regio', 'url': 'https://regio.syslab.com'},
           {'id': 'artium', 'url': 'https://artium.syslab.com'}]
solr_address = {{host.fqdn}}:48983

[component:solr4]
address = {{host.fqdn}}:48984

[component:solr5]
address = {{host.fqdn}}:48985

[component:zeo]
profile = testserver
branch = testing

[component:supervisor]
address = localhost:9002
logrotate = True
